@{
    ViewData["Title"] = "Search Results";
}

@using PermitPalace.Models.HomeViewModels;
@model List<SearchResultViewModel>

<div class="container" style="margin-top:100px;">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Results</h3>
                    <div class="pull-right">
                    </div>
                </div>
                <table class="table table-hover" id="dev-table">
                    <thead class="table-hover">
                        <tr>
                            <th>#</th>
                            <th>Is Signed</th>
                            <th>Document Name</th>
                            <th>Marine</th>
                            <th>DEMO</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(int i = 0; i < Model.Count; i++)
                        {
                            <tr>
                                <td><i style="font-size:125%">@(i + 1)</i></td>
                                <td>@Model[i].Is_Signed</td>
                                <td><a asp-action="GetDocument" asp-controller="Home" asp-route-filed_document_guid="@(Model[i].filed_document_guid.ToString())">@Model[i].document_name</a></td>
                                <td>@Model[i].document_owner_name</td>
                                <td><a asp-action="RequestSignature" asp-controller="Home" asp-route-id="@Model[i].filed_document_guid"><i class="fa fa-share-square" </a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
